<div id="gameArea">
    <div id="playerArea">
        <div class="player {{currentPlayer == game.player1 ? 'player-active' : ''}}" id="player1">
            <div class="playerName" id="player1Name">{{game.player1.name}}</div>
            <div class="playerImage" id="player1Image">
                <div class="fouls fouls-{{game.player1.consecutiveFouls}}">
                    <div id="player1Foul1" class="foul-1">X</div>
                    <div id="player1Foul2" class="foul-2">X</div>
                    <div id="player1Foul3" class="foul-3">X</div>
                </div>
            </div>
            <div class="playerScore" id="player1Score">{{game.player1.score}}</div>
        </div>
        <div id="topButtons">
            <button ng-show="canSwitch()" ng-click="switchPlayers()">&#8644;</button>
            <button ng-show="!canSwitch()" ng-click="undo()">&#8630;</button>
        </div>
        <div class="player {{currentPlayer == game.player2 ? 'player-active' : ''}}" id="player2">
            <div class="playerName" id="player2Name">{{game.player2.name}}</div>
            <div class="playerImage" id="player2Image">
                <div class="fouls fouls-{{game.player2.consecutiveFouls}}">
                    <div id="player2Foul1" class="foul-1">X</div>
                    <div id="player2Foul2" class="foul-2">X</div>
                    <div id="player2Foul3" class="foul-3">X</div>
                </div>
            </div>
            <div class="playerScore" id="player2Score">{{game.player2.score}}</div>
        </div>
    </div>

    <button ng-click="activePanel='scoring'">Scoring</button>
    <button ng-click="activePanel='details'">Details</button>
    <button ng-click="activePanel='stats'">Stats</button>

    <div id="panelArea" ng-switch="activePanel">
        <div ng-switch-default>
            <div ng-include="'partials/game-scoring.html'" />
        </div>
        <div ng-switch-when="details">
            <div ng-include="'partials/game-details.html'" />
        </div>
        <div ng-switch-when="stats">
            <div ng-include="'partials/game-stats.html'" />
        </div>
    </div>
</div>
