<?xml version="1.0" encoding="utf-8"?>
<widget id="com.example.straightpoolscore.nomad" version="1.0.0" xmlns:gap="http://phonegap.com/ns/1.0" xmlns="http://www.w3.org/ns/widgets">
  <name>StraightPoolScore</name>
  <description>
  </description>
  <author email="urbanfly@gmail.com">urbanfly@gmail.com</author>
  <access origin="*" />
  <preference name="phonegap-version" value="3.3.0" />

  <!--
    com.auth0.sdk  -  to enable social logins
    splashscreen  - to enhance the startup UX
    console - to improve calls to console.log
    contacts  - to enable player selection from local contacts
    device-orientation  - to detect portrait/landscape modes
    geolocation - to detect location
    vibration - to alert players when "on 2 fouls"
    inappbrowser  - to show game rules in-app
    dialogs - to alert players when "on 2 fouls"
  <gap:plugin name="com.auth0.sdk" /> 
  <gap:plugin name="org.apache.cordova.splashscreen" />
  <gap:plugin name="org.apache.cordova.console" />
  <gap:plugin name="org.apache.cordova.network-information" />
  <gap:plugin name="org.apache.cordova.contacts" />
  <gap:plugin name="org.apache.cordova.device-orientation" />
  <gap:plugin name="org.apache.cordova.geolocation" />
  <gap:plugin name="org.apache.cordova.vibration" />
  <gap:plugin name="org.apache.cordova.inappbrowser" />
  <gap:plugin name="org.apache.cordova.dialogs" />
  -->

  <!--
  to disable screen-lock with low battery
  <gap:plugin name="org.apache.cordova.battery-status" />
  to get device info
  <gap:plugin name="org.apache.cordova.device" />
  accelerometer
  <gap:plugin name="org.apache.cordova.device-motion" />
  to use HTML5 storage
  <gap:plugin name="org.apache.cordova.file" />
  to upload/download files
  <gap:plugin name="org.apache.cordova.file-transfer" />
  to format dates, currency, etc
  <gap:plugin name="org.apache.cordova.globalization" />
  -->
</widget>