<!DOCTYPE html>
<html ng-app>
<head>
    <title>{{game.player1.name}} vs. {{game.player2.name}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- JQuery -->
    <script src="scripts/jquery-2.1.0.min.js"></script>
    <!-- JQuery Mobile -->
    <!--<script src="scripts/jquery.mobile-1.4.1.min.js"></script>
    <link href="style/jquery.mobile-1.4.1.min.css" rel="stylesheet" />-->
    <!-- AngularJS -->
    <script src="scripts/angular.min.js"></script>
    <!-- PhoneGap (Cordova) -->
    <!--<script src="cordova.js" type="text/javascript"></script>-->
    <!-- app -->
    <script src="scripts/game.js"></script>
    <link href="style/game.css" rel="stylesheet" />
</head>
<body>
    <div id="gameArea" ng-controller="Game">
        <div id="playerArea">
            <div class="player" id="player1">
                <div class="playerName" id="player1Name">{{model.player1.name}}</div>
                <div class="playerImage" id="player1Image">
                    <div class="fouls">
                        <div id="player1Foul1" class="foul-{{model.player1.foul1}}">X</div>
                        <div id="player1Foul2" class="foul-{{model.player1.foul2}}">X</div>
                        <div id="player1Foul3" class="foul-{{model.player1.foul3}}">X</div>
                    </div>
                </div>
                <div class="playerScore" id="player1Score">{{model.player1.score}}</div>
            </div>
            <button id="switchSides" ng-show="model.canSwitch()">&#8644;</button>
            <div class="player" id="player2">
                <div class="playerName" id="player2Name">{{model.player2.name}}</div>
                <div class="playerImage" id="player2Image">
                    <div class="fouls">
                        <div id="player2Foul1" class="foul-{{model.player2.foul1}}">X</div>
                        <div id="player2Foul2" class="foul-{{model.player2.foul2}}">X</div>
                        <div id="player2Foul3" class="foul-{{model.player2.foul3}}">X</div>
                    </div>
                </div>
                <div class="playerScore" id="player2Score">{{model.player2.core}}</div>
            </div>
        </div>

        <div id="panelArea">
            <div id="scoringArea" ng-show="model.showScoring">
                <div id="ballsRemainingArea">
                    <button id="ballsRemainingMinus" ng-click="dec()">-</button>
                    <div id="ballsRemaining">{{model.ballsRemaining}}</div>
                    <button id="ballsRemainingAdd" ng-click="inc()">+</button>
                </div>

                <div id="secondaryEndings">
                    <button id="breakingFoul" ng-click="breakingFoul()" ng-show="model.isOpeningRack">Breaking Foul</button>
                    <button id="rebreak" ng-click="rebreak()" ng-show="model.isAfterBreakingFoul">Pass / Re-break</button>
                    <button id="newRack" ng-click="newRack()">New Rack</button>
                </div>

                <div id="primaryEndings">
                    <button id="ending-miss" ng-click="miss()">Miss</button>
                    <button id="ending-foul" ng-click="foul()">Foul</button>
                    <button id="ending-safe" ng-click="safe()">Safe</button>
                </div>
            </div>

            <div id="detailsArea" ng-show="model.showDetails">
                <table>
                    <thead>
                        <tr>
                            <th>S</th>
                            <th>B</th>
                            <th>E</th>
                            <th>#</th>
                            <th>S</th>
                            <th>B</th>
                            <th>E</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>0</td>
                            <td>BF</td>
                            <td>-2</td>
                            <td>1</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <td>0</td>
                            <td>S</td>
                            <td>-2</td>
                            <td>2</td>
                            <td>0</td>
                            <td>M</td>
                            <td>0</td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>M</td>
                            <td>1</td>
                            <td>3</td>
                            <td>0</td>
                            <td>F</td>
                            <td>1</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div id="statsArea" ng-show="model.showStats">
                <table>
                    <thead>
                        <tr>
                            <th colspan="3">Metric</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>88</td>
                            <td>Total Balls</td>
                            <td>68</td>
                        </tr>
                        <tr>
                            <td>0</td>
                            <td>Handicap</td>
                            <td>20</td>
                        </tr>
                        <tr>
                            <td>10</td>
                            <td>High Run</td>
                            <td>10</td>
                        </tr>
                        <tr>
                            <td>2.2</td>
                            <td>Avg. Run</td>
                            <td>2.0</td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>Total Fouls</td>
                            <td>3</td>
                        </tr>
                        <tr>
                            <td>8</td>
                            <td>Total Safes</td>
                            <td>5</td>
                        </tr>
                        <tr>
                            <td>6</td>
                            <td>Successful Safes</td>
                            <td>4</td>
                        </tr>
                        <tr>
                            <td>4</td>
                            <td>Balls b/w Errors</td>
                            <td>4</td>
                        </tr>
                        <tr>
                            <td>9</td>
                            <td>Std. Dev. Run</td>
                            <td>9</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <input type="radio" name="visiblePanel" ng-checked="model.showScoring" />
            <input type="radio" name="visiblePanel" ng-checked="model.showDetails" />
            <input type="radio" name="visiblePanel" ng-checked="model.showStats" />

            <input type="text" ng-model="model.showStats" />
        </div>
    </div>
</body>
</html>

