@model StraightPoolScore.StraightPoolGame

@{
    ViewBag.Title = "Edit2";
}

<div id="playerArea">
    <div class="player" id="player1">
        <div id="player1Name">Robert</div>
        <div id="player1Image">
            <div id="player1Foul1">X</div>
            <div id="player1Foul2">X</div>
            <div id="player1Foul3">X</div>
        </div>
        <div id="player1Score">0</div>
    </div>
    <div class="player" id="player2">
        <div id="player2Name">Robert</div>
        <div id="player2Image">
            <div id="player2Foul1">X</div>
            <div id="player2Foul2">X</div>
            <div id="player2Foul3">X</div>
        </div>
        <div id="player2Score">0</div>
    </div>
</div>

<div id="ballsRemainingArea">
    <button id="ballsRemainingMinus">-</button>
    <div id="ballsRemaining">15</div>
    <button id="ballsRemainingAdd">+</button>
</div>

<div id="secondaryEndings">
    <button id="breakingFoul">Breaking Foul</button>
    <button id="rebreak">Pass / Re-break</button>
    <button id="newRack">New Rack</button>
</div>

<div id="primaryEndings">
    <button id="ending-miss">Miss</button>
    <button id="ending-foul">Foul</button>
    <button id="ending-safe">Safe</button>
</div>
